:root {
  --primary: #ffffff;

  --text-color: #000000;
  --red: #ff0000;

  --header: #c9c9c9;
  --left-nav-menu: #ededed;
  --active-menu-item: #d3d3d3;
  --deactive-menu-item: #ffffff;
  --table-header: #cecece;
  --transaction-button: #cecece;
}
