.transactionModal {
  background-color: var(--header);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modalForm {
    display: flex;
    flex-direction: column;
    div {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    label {
      width: 100px;
    }
    input {
      width: 200px;
      padding-left: 10px;
      font-size: 18px;
    }
    select {
      width: 200px;
    }
    button {
      padding: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 10px;
    }
    .error {
      align-self: center;
      color: var(--red);
    }
  }
}
